#map {
  height: 100%;
}

#data-controls {
	width: 200px;
	height: 100px;
	position: absolute;
	top: 200;
	border: 1px solid grey;
	background-color: #f2f4f7;
	box-shadow: 2px 2px 1px #888888;
	padding: 10px 10px 10px 10px;
	display: block;
}


